:root {
    // House Colors
    --gryffindor-primary: hsl(0, 77%, 35%);
    --gryffindor-primary-30: hsl(0, 77%, 35%, 0.3);
    --gryffindor-secondary: hsl(42, 83%, 59%);
    --ravenclaw-primary: hsl(203, 92%, 38%);
    --ravenclaw-primary-30: hsl(203, 92%, 38%, 0.3);
    --ravenclaw-secondary: hsl(210, 1%, 71%);
    --hufflepuff-primary: hsl(46, 96%, 64%);
    --hufflepuff-primary-30: hsl(46, 96%, 64%, 0.3);
    --hufflepuff-secondary: hsl(220, 6%, 10%);
    --slytherin-primary: hsl(157, 61%, 28%);
    --slytherin-primary-30: hsl(157, 61%, 28%, 0.3);
    --slytherin-secondary: hsl(240, 8%, 88%);
}