@use "./reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
  // Font
  --harry-p: "Harry P";
  --crimson-text: "Crimson Text";
  // Colors
  --color-primary: 41, 70%, 55%;
  --color-secondary: 220, 43%, 3%;
  --text-color: 220, 9%, 94%;
  // Spacing
  --padding-inline: 32px;
}

html, body, #app {
  height: 100%;
}

body {
  background-color: hsl(var(--color-secondary));
  color: hsl(var(--text-color));

  font-family: "Crimson Text", sans-serif;
}